h1 {
  font-size: 32px;
}

.appheader {
  margin: auto;
  width: inherit;
  display: flex;
  flex-direction: column;
  width: inherit;
}
.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: inherit;
}
