ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_info {
  font-size: 16px;
  font-weight: 500;
}
